<div id="wrapper">
    <div #xInput style="position: absolute; left: 10px; top: 10px; width:200px; height:100px; background-color: yellow;">
        <input type="text" value="abc">
    </div>
    <div #yInput style="position: absolute; left: 10px; top: 10px; width:200px; height:100px; background-color: yellow;">
        <input type="text" value="abc">
    </div>
<!--   <div style="position: absolute; z-index: 1; left: 50px; top: 20px; width:100px; height:20px; background-color: green;">
        1234
    </div> -->
    <canvas #canvasEl width="400" height="400"></canvas>
</div>
